:root {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 10em 30em 1fr 20em;
  grid-template-rows: 5em;
  align-items: center;
  max-height: 5em;
}

.header__user-controls {
  max-height: 100%;
  justify-self: end;
  display: flex;
}

.header__user-avatar-container {
  max-height: 100%;
}

.header__user-avatar {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  border-radius: 50%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.card-container {
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.cocktail-card {
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 2em;
  width: 25em;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail-card__name {
  height: 2.5em;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-card__info {
  flex-grow: 1;
}

.new-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-cocktail__description {
  display: block;
}

.new-cocktail__steps-container {
  list-style: none;
}

.new-cocktail__step {
  display: flex;
  align-items: center;
}

.step__number {
  font-size: 2em;
}

.cocktail__img {
  display: block;
  max-height: 30em;

  position: relative;
  max-width: 100%;
  width: auto;
  height: auto;
}

.cocktail-card {
  overflow: hidden;
}

.cocktail-card__info {
  position: relative;
}

.cocktail-card__raiting {
  position: absolute;
  color: red;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}
